<div class="page-header">
<h1>Editar usuario <small>Actualizá tu contraseña o borrá tu cuenta.</small></h1>
</div>

<div class="row">
  <div class="span14">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class=> "form-stacked" }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <div class="clearfix">
          <%= f.label :email %>
          <div class ="input">
            <%= f.email_field :email %></div>
          </div>
        <%if current_user.account_type == 'facebook' %>
          <div class="clearfix">
            <%= f.label :password, " Nueva contraseña" %> 
            <div class ="input">
              <%= f.password_field :password %></div>
            </div>

          <div class="clearfix">
            <%= f.label :password_confirmation, "Confirmar contraseña" %>
            <div class ="input">
              <%= f.password_field :password_confirmation %></div>
            </div>

          <div class="clearfix">
            <%= f.label :current_password, "Contraseña actual" %>
            <div class ="input">
              <%= f.password_field :current_password %></div>
            </div>
          <% else %>
           <p>Cuenta creada con Facebook.</p>
          <% end %>
        <div class="actions">
          <%= f.submit "Actualizar", :class => "btn primary" %>
          <%= link_to "Volver", :back, :class => "btn small" %>
        </div>
      </fieldset>
      <% end %>
  </div>
</div><br>

<div class="page-footer">
<h1>Cancelar mi cuenta </h1>

<p>¿No te convenció? <%= link_to "Eliminar tu cuenta", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<br><br>
</div>
