<div class="page-header">
<h1>¿Olvidaste tu contraseña?</h1>
</div>

<div class="row">
  <div class="span8">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-stacked" }) do |f| %>
      
    <%= devise_error_messages! %>

    <fieldset>
      <div class="clearfix">
        <%= f.label :email %>
        <div class="input">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Restablecer contraseña", :class => "btn primary" %>
      </div>
    </fieldset>
<% end %>
  </div>
  <div class="span4">
  <%= render :partial => "devise/shared/links" %>
  </div>
</div>