<!DOCTYPE html>
<html>
<head>
  <title>Cuándo Llegará</title>
  <%= stylesheet_link_tag 'base', 'layout', 'skeleton' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
 	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-6820257-6']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
<div class="container">
	<div class="three columns sidebar">
		<nav>
			<h3>...</h3>
			<ul>
				<li><%= link_to "Sé la parada", arrival_select_path %></li>
				<li><%= link_to "No sé la parada", arrival_select_line_path %></li>
			</ul>
		</nav>
		&nbsp;
	</div>
	<div class="twelve columns content offset-by-one">
	<header>
		<h1>Cuándo Llegará</h1>
	</header>
<%= yield %>
	<hr>
	<div class="doc-section" >
		<p class="remove-bottom" align="justify"><small>
		Este sitio apunta a proporcionar una alternativa al <a href="http://www.etr.gov.ar/cuandollega.html" target="_blank">Cuándo Llega</a> para consultar la llegada de las líneas de colectivo de la ciudad de Rosario, en formato web más adecuado. Incluso funciona en teléfonos inteligentes.</small></p>

		<p class="remove-bottom" align="justify"><small>
		<b>Cuándo Llegará</b> no tiene afiliación alguna con el <a href="http://www.etr.gov.ar">Ente de Transporte de Rosario</a>. </small></p>

		<p class="remove-bottom" align="justify"><small>
		Creado por <a href="http://bonamin.com.ar">Bruno Bonamin</a>, 2011 &copy;</small></p>
		<hr>
		<div class ="doc-section">
			<a href="http://twitter.com/share" class="twitter-share-button" data-text="Cuándo Llegará - Llegada de colectivos en #Rosario en un formato más adecuado. También para smartphones!" data-count="horizontal" data-via="bbonamin" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</div>
		<div class ="doc-section" style="padding-top:3px;">
		<iframe src="http://www.facebook.com/plugins/like.php?app_id=224649547582769&amp;href=http%3A%2F%2Fcuandollegara.com.ar%2F&amp;send=false&amp;layout=button_count&amp;width=320&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height:21px;" allowTransparency="true"></iframe>
		</div>
		</div>
	</div>
</div>
</body>
</html>
