<!DOCTYPE html>
<html>
<head>
  <title>Cuando Llegará</title>
  <%= stylesheet_link_tag 'base', 'layout', 'skeleton' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel=”apple-touch-icon” href=”public/cllg.png”>
</head>
<body>
<div class="container">
	<div class="twelve columns content offset-by-one">
	<header>
		<h2>Cuándo Llegará</h2>
			<div class="six columns alpha">
				<p><%= link_to "Sé la parada", arrival_select_path %> - <%= link_to "No sé la parada", arrival_select_line_path %></p>
			</div>
	</header>
	<hr>
	<%= yield %>
	<hr>
	<div class="doc-section" >
		<p class="remove-bottom" align="justify"><small>Creado por <a href="http://bonamin.com.ar">Bruno Bonamin</a>, 2011 &copy;<br />
		Este sitio apunta a proporcionar una alternativa al <a href="http://www.etr.gov.ar/cuandollega.html" target="_blank">Cuándo Llega</a> para consultar la llegada de las líneas de colectivo de la ciudad de Rosario, en formato web más adecuado.</small></p>

		<p class="remove-bottom" align="justify"><small>
		<i>Cuándo Llegará</i> no tiene afiliación alguna con el <a href="http://www.etr.gov.ar">Ente de Transporte de Rosario</a>. </small></p>
	</div>
	<hr>
	<div class ="doc-section">
	<a href="http://twitter.com/share" class="twitter-share-button" data-text="Cuándo Llegará - Llegada de colectivos en #Rosario en un formato más adecuado." data-count="horizontal" data-via="bbonamin" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	</div>
	
	<div class ="doc-section" style="padding-top:5px">
	<%= facebook_like %>
	</div>
		
	</div>
	</div>
</div>
</body>
</html>
