<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Cuándo Llegará</title>
    <meta name="description" content="Alternativa para visualizar la llegada de colectivos en la ciudad de Rosario">
    <meta name="author" content="Bruno Bonamin - bruno.bonamin@gmail.com">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag 'bootstrap' %>
    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 70px;
        padding-right:0px;
      }
      .container {
        width:90%;
        padding-left: 0;
        padding-right:0;
      }
      .span16 {
        width:100%;
      }
      .actions {
        padding: 1em -1em 1em 1em;
        width:90%;
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }

      /* The white background content wrapper */
      .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      /*.content .span10,
      .content .span4 {
        min-height: 500px;
      }*/
      [class*="span"] {
        display: inline;
        float: left;
        margin-left: 2em;
      }
      form .input {
        margin-left: 1em;
      }
      .form-stacked {
        padding-left: 1em;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 5px;
        border-left: 1px solid #eee;
      }

      .topbar {
        /*display:none;*/
      }
      .topbar .btn {
        border: 0;
      }
      .span14 {
        width: 220px;
      }

      .span5 {
        width: 270px;
      }
      a {
        padding-left: 1.5em;
      }
    </style>


  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />   
  <link rel="apple-touch-icon" href="/images/cllg.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6820257-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </head>

  <body>
  <div class="container">
    <script type="text/javascript">
      var admob_vars = {
       pubid: 'a14e57a870772ce', // publisher id
       bgcolor: 'FFFFFF', // background color (hex)
       text: '000000', // font-color (hex)
       test: false // test mode, set to false to receive live ads
      };
    </script>
    <script type="text/javascript" src="http://mmv.admob.com/static/iphone/iadmob.js"></script>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li>
              <% if user_signed_in? %>
                <%= link_to "Favs", favorites_path %></li>
                <li><%= link_to "Parada", arrival_select_path %></li>
              <% else %>
                <%= link_to "Por parada", arrival_select_path %></li>
              <% end %>
            <li><%= link_to "Buscar", arrival_select_line_path %></li>
          </ul>
          <div class="pull-right" style="padding-top:0.7em">
              <% if user_signed_in? %>
                <%= link_to current_user.email, edit_user_registration_path(current_user) %>
              <% else %>
                <%=link_to "Identificarme", new_user_session_path %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <%= yield %>
      <div class="row" style="margin-top:1.5em">
          <div class="span2">
            <a href="http://twitter.com/share" class="twitter-share-button" data-text="Cuándo Llegará - Llegada de colectivos en #Rosario en un formato más adecuado. También para smartphones!" data-count="horizontal" data-via="bbonamin" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
          </div>
          <div class="span2">
            <iframe src="http://www.facebook.com/plugins/like.php?app_id=224649547582769&amp;href=http%3A%2F%2Fcuandollegara.com.ar%2F&amp;send=false&amp;layout=button_count&amp;width=320&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height:21px;" allowTransparency="true"></iframe>
          </div>
        </div>
      </div>

      <footer>
        <p> Una alternativa al <a href="http://www.etr.gov.ar/cuandollega.html" target="_blank">Cuándo Llega</a> de Rosario, Santa Fe.

          <p align="justify">
          <b>Cuándo Llegará</b> no tiene afiliación alguna con el <a href="http://www.etr.gov.ar">Ente de Transporte de Rosario</a>. </p>

          <p align="justify">
          Creado por <a href="http://bonamin.com.ar">Bruno Bonamin</a>, 2011 &copy;</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
